body {
    background-color:white;
    text-align: center;
    color: rgb(63, 142, 214);
    background-color: black;
}


.main{
  font-size: 50px;
  font-family: Blippo, fantasy;
}
.coolm{
  font-size: 16px;
}

.score{
  font-size: 17px;
  margin-top: -25px;
}

.poption{
  background-color: rgb(39, 122, 163);
  color: white;
}

.gif{
  width: 20%;
}

.footer{
  background-color: rgb(18, 24, 26);
  color: white;
  height: 25px;
}
